## kubectl edit svc prometheus-server

## kubectl edit cm prometheus-server

## kubectl get secret grafana -o jsonpath='{.data.admin-password}'| base64 --decode ; echo

##  kubectl get secret grafana -n monitor-prom -o jsonpath='{.data.admin-password}'| base64 --decode ; echo
_-> passing namespace with it

## kubectl get service --all-namespaces

## kubectl

## kubectl -it exec (pod_name) -n (namespace) -- bash

## kubectl create namespace {namespace}


